<!DOCTYPE html>
<html lang="en" ng-app="FAQApp">
<head>
    <meta charset="UTF-8">
    <title>FAQ Home Page</title>

    <script type="text/javascript" src="vendor.js"></script>
    <script type="text/javascript" src="bundle.js"></script>

    <script type="text/css" src="main.css"></script>
</head>
<body>
    <section class="categories" ng-controller="tabController as tab">
        <li>
            <a href="" ng-click="tab.setCategoryAsSelected('generic')">Generic</a>
        </li>

        <li>
            <a href="" ng-click="tab.setCategoryAsSelected('home')">Home</a>
        </li>

        <li>
            <a href="" ng-click="tab.setCategoryAsSelected('motor')">Motor</a>
        </li>

        <div class="category" ng-show="tab.isCategorySelected('generic')">Generic tab selected</div>
        <div class="category" ng-show="tab.isCategorySelected('home')">Home tab selected</div>
        <div class="category" ng-show="tab.isCategorySelected('motor')">Motor tab selected</div>
    </section>
</body>
</html>
